.header {
}

header {
	background: black;
	width: 100%;
	height: 100px;
}

@include min-size(md) {
	.header {
	}
}

@include min-size(lg) {
	.header {
	}
}

@include min-size(xl) {
	.header {
	}
}

@include min-size(xxl) {
	.header {
	}
}
